<div id="footer">
        <div class="row footer-sub1">
            <div class="col-sm-6">
                <ul class="list-unstyled list-inline">
                    <li><a href="/about">About</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/community">Community</a></li>
                    <li><a href="/media">Media</a></li>
                    <li><a class="contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 footer-signup">
                Stay up to date with the latest AV NEWS!
                <button class="btn btn-primary text-uppercase m-l-15 btn-sm" data-toggle="modal" data-target="#login-modal" data-footer="true">Sign up</button>
            </div>
        </div>
        <div class="row footer-sub1 text-center">
            <ul class="list-inline social-media">
                <li>
                    <a href="//www.facebook.com/AirVuz" target="_blank">
                        <span class="icon icon-facebook-square"></span>
                    </a>
                </li>
                <li>
                    <a href="//twitter.com/airvuz" target="_blank">
                        <span class="icon icon-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="//www.instagram.com/airvuz" target="_blank">
                        <span class="icon icon-instagram"></span>
                    </a>
                </li>
                <li>
                    #AIRVUZ
                </li>
            </ul>
        </div>

        <div class="row footer-sub2">
            <div class="col-sm-12 text-center">
                <ul class="list-inline">
                    <li><a href="/terms">Terms & Conditions</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/copyright">Copyright</a></li>
                    <li><a href="/terms">&copy; Airvūz, 2016</a></li>
                </ul>
            </div>
        </div>
    </div>